body {
    background-image: url("https://data.1freewallpapers.com/download/gradient-color-shades-background-abstraction.jpg");
  }
  .card 
  {
    
        border: 1px solid black;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 50px;
        margin-left: 200px;
  }
  .cardbody1 
  {
     padding-left: 50px;
  }
.log 
{
      word-spacing: 15px;
}
.card img{
      padding: 30px;
}